.category {
  height: 50px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: fixed;
  font-weight: bold;
  top: 50px;
  width: 100%;
  z-index: 999;
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.category-heading {
  position: relative;
}

.dropdown {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.category-heading:hover .dropdown {
  display: block;
}
